{{ define "main" }}
    {{ $mykey := .Title | anchorize }}
    {{if .Content}}
        {{ .Content }}
    {{else }}

        {{ range $term, $taxo := .Site.Taxonomies }}
            <ul>
                {{ range $key, $value := $taxo }}
                    {{ if eq ( anchorize $key) $mykey }}
                    {{ range $value.Pages }}
                        <li hugo-nav="{{ .RelPermalink}}">
                            <a href="{{ .Permalink}}?series={{$key}}"><b>{{ .Title }}</b></a> &nbsp; {{ .Description}}
                        </li>
                    {{ end }}
                {{ end }}
                {{ end }}
            </ul>
        {{/*end*/}}
        {{end}}

    {{end}}
{{end}}