
<style>
    .small { font: normal 10px sans-serif; }
</style>

<div id="graph" style="text-align: center;">
<svg id="test" width="960" height="900" style="text-align: center;"></svg>
</div>

<div id="graph-data" data-param1="test.json"></div>

<script src="/develop/sequence.js"></script>