{{ $release:=.Get 0}}{{ $sub:=index .Site.Data.releases "releases" }}

{{ range $sub }} 
{{ if eq .major $release }}

{{ $last_index:= sub (len .minors) 1 }}
{{$last:=index (index (sort .minors "number" "desc") 0) "number"}}
### Latest version in this release: 

<a href="https://octopus-code.org/down.php?file={{$release}}.{{$last}}/octopus-{{$release}}.{{$last}}.tar.gz">Octopus {{$release}}.{{$last}}</a>

Check the [changes](../changes#octopus-{{$release}}) page to find out what is new in this version.

### Other releases in this series

{{ if .minor }}
<ul>
{{range .minor}}
<li><a href="https://octopus-code.org/down.php?file={{$release}}.{{.}}/octopus-{{$release}}.{{.}}.tar.gz">Octopus {{$release}}.{{.}}</a></li>    
{{end}}
</ul>
{{end}}

{{ if .minors }}
{{ range (sort .minors "number" ) }}
<li><a href="https://octopus-code.org/down.php?file={{$release}}.{{.number}}/octopus-{{$release}}.{{.number}}.tar.gz">Octopus {{$release}}.{{.number}}</a>{{if .date}}  ({{.date}}){{end}}</li>    
{{ end }}
{{ end }}

{{ if .libxc }}
{{ with .libxc }}
Requires {{partial "libxc" }} version {{.minimum}} or later (libxc {{.recommended}} recommended)</br>
{{end}}
{{end}}

{{end}}
{{end}}

